@import '~node_modules/modern-normalize/modern-normalize.css';

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: var(--main-text-color);
	background-color: var(--main-bgd-color);
	letter-spacing: 0.08em;
	background-image: url('../images/hero/wave-bg.svg');
	background-position: 0 450px;
	background-repeat: no-repeat;
	background-size: contain;

	@media (min-width: 768px) {
		background-position: top center;
	}

	&.no-scroll {
		overflow: hidden;
	}
}

.container {
	max-width: 480px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;

	@media (min-width: 768px) {
		max-width: 768px;
		padding: 0 40px;
	}

	@media (min-width: 1366px) {
		max-width: 1366px;
		padding: 0 26px;
	}
}

.main {
	overflow: hidden;
}

// Для кнопки клас .button та модифікатор .button--header
.button {
	width: 260px;
	padding: 17px 0;

	background-color: var(--accent);
	border: 2px solid transparent;
	text-align: center;

	color: var(--light-text-color);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	line-height: calc(15 / 12);
	letter-spacing: 0.08em;
	color: var(--light-text-color);
	font-weight: 700;
	font-size: 12px;
	line-height: calc(15 / 12);
	letter-spacing: 0.08em;
	transition: background-color var(--transition), color var(--transition),
		border var(--transition);

	&:hover,
	&:focus {
		background-color: var(--main-bgd-color);
		color: var(--accent);
		border-color: var(--accent);
	}

	@media (min-width: 768px) {
		padding: 14px 0;
	}

	@media (min-width: 1366px) {
		padding: 27px 0;
		min-width: 354px;
	}

	&--header {
		background-color: transparent;
		color: var(--accent);
		border-color: var(--accent);

		&:hover,
		&:focus {
			color: var(--light-text-color);
			background-color: var(--accent);
			border-color: transparent;
		}

		@media (min-width: 768px) {
			padding: 15px 0;
			font-size: 14px;
			line-height: calc(17 / 14);
		}

		@media (min-width: 1366px) {
			min-width: 336px;
		}
	}
}

// Для заголовків секцій клас .section-title (темна за замовчуванням) і модифікатор .section-title--light
.section-title {
	font-weight: 800;
	font-size: 20px;
	line-height: calc(26 / 20);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--deepdark-text-color);

	@media (min-width: 768px) {
		font-size: 26px;
		line-height: calc(34 / 26);
	}

	@media (min-width: 1366px) {
		font-size: 46px;
		line-height: calc(60 / 46);
	}

	&--light {
		color: var(--light-text-color);
	}
}

// Для скритих заголовків
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


// Для листів в секціях проблемс и бенефітс
.list {
	margin: 25px 0 0;
	padding: 20px 27px;
	counter-reset: item;
	background-color: var(--main-bgd-color);
	box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

	@media (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 68px;
		row-gap: 20px;
		padding: 28px 90px;
		margin: 30px 0 0;
	}

	@media (min-width: 1366px) {
		position: relative;
		z-index: 5;
		column-gap: 40px;
		row-gap: 30px;
		padding: 67px 113px;
		margin: 68px 0 0;
	}

	&__item {
		margin-top: 15px;
		counter-increment: item;
		font-weight: 700;
		font-size: 14px;
		line-height: calc(24 / 14);
		letter-spacing: 0.08em;
		color: var(--deepdark-text-color);

		@media (min-width: 768px) {
			margin: 0;
			width: 220px;
		}

		@media (min-width: 1366px) {
			width: 336px;
			font-size: 20px;
			line-height: calc(28 / 20);
		}

		&:first-child {
			margin: 0;
		}

		&::before {
			counter-increment: li;
			content: "\2014   " counter(item, decimal-leading-zero);
			display: block;
			font-weight: 700;
			font-size: 20px;
			line-height: calc(24 / 20);
			letter-spacing: 0.08em;
			color: var(--accent);

			@media (min-width: 1366px) {
				margin-bottom: 10px;
			}
		}
	}
}