:root {
  // COLORS
  --accent: #ff6b09;

  // For background
  --main-bgd-color: #ffffff;
  --bgd-dark: #111518;
  --bgd-light: #e5e5e5;
  --bgd-accent: #f1f1f1;

  // For text
  --main-text-color: #b9b9b9;
  --dark-text-color: #3d3d3d;
  --deepdark-text-color: #111518;
  --light-text-color: #ffffff;

  // TRANSITION
  --transition: 250ms linear;
}
