<section class="about" id="about">
	<div class="container about-container">
		<h2 class="section-title section-title_teacher">Teacher</h2>
		<div class="about-wrap">
			<img class="about__pic" srcset="
          ./images/teacher/elena-moreva-min.jpg    1x,
          ./images/teacher/elena-moreva@2x-min.jpg 2x
        " src="./images/teacher/elena-moreva-min.jpg" alt="Картинка Учителя" loading="lazy" />
			<div class="about-field">
				<h3 class="about-field__name">Elena Moreva</h3>
				<ul class="teacher-portf-list">
					<li class="teacher-portf-list__item">
						<svg class="teacher-portf-list__icon">
							<use href="./images/symbol-defs.svg#icon-teacher"></use>
						</svg>
						6 yeards of experience in preparing students for UPE
					</li>
					<li class="teacher-portf-list__item">
						<svg class="teacher-portf-list__icon">
							<use href="./images/symbol-defs.svg#icon-teacher"></use>
						</svg>
						Own result of passing VNO - 197 points 2 years in a row
					</li>
					<li class="teacher-portf-list__item">
						<svg class="teacher-portf-list__icon">
							<use href="./images/symbol-defs.svg#icon-teacher"></use>
						</svg>
						Passed excellent at the international analogue of UPE - Cambridge
						PET (Preliminary English Test)
					</li>
				</ul>
				<div class="about-field__separation"></div>
				<ul class="teacher-descr-list">
					<li class="teacher-descr-list__item">
						Graduated from the Institute of International Relations of the NAU
						with a degree in translator-analyst.
					</li>
					<li class="teacher-descr-list__item">
						In spare time takes courses from the best universities in the world
						on effective teaching and essay writing techniques.
					</li>
					<li class="teacher-descr-list__item">
						Completed: English Grammar and Essay Writing (Berkeley), English
						Grammar & Style (The University of Queesland), How to Write an Essay
						(Berkeley), Academic and Business Writing (Berkeley), The Art of
						Teaching (GEMS education), Powerful Tools for Teaching and Learning
						(University of Houston).
					</li>
				</ul>
				<a class="about-field__link" href="#" target="_blank">Cambrige English Entry Level Certificate</a>
			</div>
		</div>
	</div>
</section>