<section class="benefits">
	<div class="container">
		<h2 class="benefits__title">Why do people choose us</h2>
		<ul class="list benefits__list">
			<li class="list__item">Grammar</li>
			<li class="list__item">Inability to understand
				spoken English</li>
			<li class="list__item">Stingy vocabulary for writing an essay</li>
			<li class="list__item">Preparing alone</li>
			<li class="list__item">Lack of a single knowledge resource</li>
			<li class="list__item">Lack of self-organization and laziness</li>
		</ul>
	</div>
</section>