<section class="contacts" id="contacts">
	<div class="container">
		<h2 class="contacts__title">
			Registration for a <span class="contacts__accent-text">free</span> phone
			<span class="contacts__accent-text">consultation</span> on the nuances of
			English UPE
		</h2>
		<p class="contacts__text">
			Leave a request for participation in a
			<span class="contacts__accent-text">free lesson</span>. A consultant will
			contact you and answer your questions
		</p>
		<form class="form">
			<ul class="form__list">
				<li class="form__item">
					<input class="form__input" type="text" name="name" id="name" required minlength="2"
						placeholder="&nbsp;" />

					<label class="form__label" for="name">Name*</label>
				</li>
				<li class="form__item">
					<input class="form__input" type="tel" name="phone" id="user-phone" required placeholder="&nbsp;" />

					<label class="form__label" for="user-phone">Phone*</label>
				</li>
			</ul>
			<button class="button form__button" type="submit">
				I want a free lesson
			</button>
		</form>
	</div>
</section>