<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<a class="footer__link-logo" href="index.html">
				<svg class="logo footer__logo">
					<use href="./images/symbol-defs.svg#icon-logo">
					</use>
				</svg>
			</a>
			<div class="footer__links">
				<div class="footer__phone">
					<svg class="fooner__icon" width="20" height="20">
						<use href="./images/symbol-defs.svg#icon-phone">
						</use>
					</svg>
					<a class="footer__phone-link" href="tel:380991234567">+38 (099) 123 45 67</a>
				</div>
				<div class="footer__social">
					<a class="footer__social-link" href="#" target="_blank">
						<img class="footer__insta"
							srcset="./images/footer/instagram.png 1x, ./images/footer/instagram@2x.png 2x"
							src="./images/footer/instagram.png" alt="instagram" width="40" height="40" loading="lazy">
					</a>
				</div>
			</div>
		</div>
		<div class="footer__reserved">
			<p class="footer__text">© All rights reserved, 2022</p>
		</div>
	</div>
</footer>