<section class="hero ">
	<div class="container">
		<div class="hero__container-content">
			<div class="hero__desk">
				<h1 class="hero__title">Complex preparation for English UPE</h1>
				<p class="hero__subtitle">It won&rsquo;t be easy.</p>
				<p class="hero__text">
					But you&rsquo;re guaranteed to get
					<span class="hero__text--accent">+25 points</span>
				</p>
				<a class="hero__button button" href="#contacts">I want a free lesson</a>
			</div>
			<img class="hero__img" srcset="./images/hero/hero-208.png 208w,
			 ./images/hero/hero-370.png 370w, ./images/hero/hero-416.png 416w, 
			 ./images/hero/hero-740.png 740w, ./images/hero/hero-842.png 842w, ./images/hero/hero-1684.png 1684w"
				src="./images/hero/hero-208.png" alt="Hellen and srudents"
				sizes="(min-width:842px) 842px, (min-width:416px) 416px, 100vw" loading="lazy">

		</div>
	</div>
</section>