.advantages {
	padding: 43px 0 70px;

	@media (min-width: 1366px) {
		padding: 100px 0 130px;
	}
}

.advantages__list {
	margin: 0 auto;

	@media (min-width: 768px) {
		display: flex;
		justify-content: center;
		gap: 21;
		margin: 0;
	}

	@media (min-width: 1366px) {
		gap: 31;
	}
}

.advantages__item {
	margin: 30px;
	display: flex;
	align-items: center;
	gap: 9px;

	&:first-child {
		margin-top: 0;
	}

	@media (min-width: 768px) {
		margin: 0px;
		gap: 16px;
		width: 214px;
	}

	@media (min-width: 1366px) {
		width: 417px;
	}
}

.advantages__svg {
	width: 60px;
	height: 60px;

	@media (min-width: 1366px) {
		width: 100px;
		height: 100px;
	}
}

.advantages__text {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(23 / 14);
	color: var(--deepdark-text-color);

	@media (min-width: 1366px) {
		margin-left: -25px;
		width: 238px;
	}
}