.contacts {
  padding: 55px 0;
  text-align: center;
  background-color: var(--bgd-dark);
  background-image: url('../images/bg-form/registration-bg-sm-min.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // @include mq(retina) {
  // 	background-image: url('../images/bg-form/registration-bg-sm@2x-min.png');
  // }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/bg-form/registration-bg-sm@2x-min.png');
  }

  @media (min-width: 768px) {
    background-image: url('../images/bg-form/registration-bg-md-min.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/bg-form/registration-bg-md@2x-min.png');
    }
  }

  @media (min-width: 1366px) {
    background-image: url('../images/bg-form/registration-bg-big-min.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/bg-form/registration-bg-big@2x-min.png');
    }
  }

  // @include mq(tab) {
  // 	background-image: url('../images/bg-form/registration-bg-md-min.png');

  // 	@include mq(retina) {
  // 		background-image: url('../images/bg-form/registration-bg-md@2x-min.png');
  // 	}
  // }

  // @include mq(desk) {
  // 	background-image: url('../images/bg-form/registration-bg-big-min.png');

  // 	@include mq(retina) {
  // 		background-image: url('../images/bg-form/registration-bg-big@2x-min.png');
  // 	}
  // }

  @media (min-width: 768px) {
    padding: 100px 0 62px 0;
  }

  &__title {
    font-weight: 800;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: 0.03em;
    color: var(--light-text-color);

    @media (min-width: 768px) {
      font-size: 26px;
      line-height: calc(34 / 26);
    }

    @media (min-width: 1366px) {
      font-size: 46px;
      line-height: calc(60 / 46);
    }
  }

  &__accent-text {
    color: var(--accent);
  }

  &__text {
    margin: 25px 0 0;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    color: var(--light-text-color);

    @media (min-width: 768px) {
      margin: 50px 0 0;
      font-size: 16px;
      line-height: calc(20 / 16);
    }

    @media (min-width: 1366px) {
      font-size: 30px;
      line-height: calc(37 / 30);
    }
  }
}

.form {
  margin: 43px 0 0;

  @media (min-width: 768px) {
    margin: 56px 0 0;
  }

  &__item {
    position: relative;
    margin: 20px 0 0;

    &:first-child {
      margin: 0;
    }
  }

  &__input {
    width: 100%;
    height: 48px;
    padding: 15px 15px 15px 28px;

    background-color: transparent;
    outline: transparent;
    border: 1px solid var(--main-bgd-color);
    color: var(--light-text-color);

    &:not(:placeholder-shown):required:invalid {
      border-color: #ff0000;
    }

    &:not(:placeholder-shown):required:valid {
      border-color: var(--main-bgd-color);
    }

    &:focus + .form__label,
    &:not(:placeholder-shown) + .form__label {
      transform: translate(-20px, -40px);
      color: var(--accent);
    }

    @media (min-width: 768px) {
      width: 390px;
    }

    @media (min-width: 1366px) {
      width: 478px;
      height: 70px;
      padding: 23px 23px 23px 35px;

      &:focus + .form__label,
      &:not(:placeholder-shown) + .form__label {
        transform: translate(-30px, -52px);
        color: var(--accent);
      }
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 28px;
    transform: translateY(-50%);

    transition: transform var(--transition), color var(--transition);

    @media (min-width: 768px) {
      left: 177px;
    }

    @media (min-width: 1366px) {
      left: 456px;
    }
  }

  &__button {
    margin: 50px 0 0;

    @media (min-width: 768px) {
      margin: 80px 0 0;
    }
  }
}

.test {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: var(--accent);
}
