.guarantee {
  padding-top: 70px;

  @media screen and (min-width: 1366px) {
    padding-top: 130px;
  }
}

.section-guarantee {
  margin-bottom: 30px;

  @media screen and (min-width: 1366px) {
    margin-bottom: 50px;
  }
}

.guarantee-container {
  padding: 0;
}

.guarantee-list {
  background-color: var(--bgd-accent);
  padding: 45px 20px;

  @media screen and (min-width: 768px) {
    padding: 30px 65px;
  }

  @media screen and (min-width: 1366px) {
    margin: 0 auto;
    width: 1314px;
    padding: 50px 112px;
  }
}

.guarantee-list__item {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  color: var(--dark-text-color);

  padding-left: 35px;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 26px;
    left: 7px;
    border-left: 1px dashed var(--main-text-color);
    height: 90%;

    @media screen and (min-width: 768px) {
      height: 75%;
    }

    @media screen and (min-width: 1366px) {
      height: 60%;
      top: 36px;
      left: 11px;
    }
  }

  @media screen and (min-width: 768px) {
    padding-left: 39px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1366px) {
    padding-left: 45px;

    font-size: 20px;
    line-height: 1.4;
  }
}

.guarantee-list__item--mark-color {
  color: var(--accent);
}

.guarantee-list__icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: var(--accent);
  width: 15px;
  height: 20px;

  @media screen and (min-width: 1366px) {
    width: 22px;
    height: 30px;
  }
}

.guarantee-list__link {
  color: var(--accent);
}
