.reviews {
  padding-top: 70px;
  padding-bottom: 61px;
  @media screen and (min-width: 1366px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.reviews-cards {
  font-weight: 500;
  text-align: center;
  min-width: 0;
  margin-bottom: 52px;

  @media screen and (min-width: 480px) {
    width: 438px;
    margin: 25px auto 52px auto;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    width: 688px;

    margin: 30px auto 40px auto;
    padding: 40px;

    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    text-align: left;

    position: relative;
  }

  @media screen and (min-width: 1366px) {
    width: 1090px;
    margin: 50px auto 40px auto;
    padding: 50px 112px 50px 82px;
  }
}

.reviews-pic-field {
  display: block;

  @media screen and (min-width: 768px) {
    margin-top: 12px;
    margin-right: auto;
  }

  @media screen and (min-width: 1366px) {
    margin-right: 40px;
  }
}

.reviews-pic-field__pic {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    margin-bottom: 18px;
  }

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }
}

.cards-link {
  display: flex;
  justify-content: center;

  &__icon {
    fill: #436eab;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 22px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.cards-field {
  @media screen and (min-width: 768px) {
    width: 412px;
  }
  @media screen and (min-width: 1366px) {
    width: 706px;
  }
}

.cards-field__title {
  color: var(--accent);

  font-weight: 800;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.2;
  }
  @media screen and (min-width: 1366px) {
    width: 482px;

    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 10px;
  }
}

.cards-field__info {
  color: var(--main-text-color);
  display: block;
  font-weight: 500;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;

    font-size: 12px;
    line-height: 1.25;
  }

  @media screen and (min-width: 1366px) {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.cards-field__text {
  color: var(--dark-text-color);
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.66;
  }

  @media screen and (min-width: 1366px) {
    font-size: 18px;
    line-height: 1.55;
  }
}

.cards-field__text_accent-color {
  display: block;
  text-decoration: underline;
  color: var(--accent);
  margin: 0 auto;
  letter-spacing: 0.08em;

  font-weight: 500;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.66;
    margin: 0;
  }

  @media screen and (min-width: 1366px) {
    font-size: 18px;
    line-height: 1.55;
  }
}

.cards-field__text_read-more {
  font-weight: 500;
  color: var(--dark-text-color);

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.66;
  }

  @media screen and (min-width: 1366px) {
    font-size: 18px;
    line-height: 1.55;
  }
  display: none;

  &.is-open {
    display: block;
  }
}

/* Слайдер */
.slick-slider {
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
}

.reviews-cards-list .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  font-size: 0;
  width: 27px;
  height: 16px;
  fill: var(--accent);
}
/* Стрелка влево */
.reviews-cards-list .slick-arrow.slick-prev {
  background-image: url('../images/icon-arrow-left.svg');
  @media screen and (max-width: 767px) {
    top: 94%;
    left: 0;
  }
  @media screen and (min-width: 768px) {
    left: -14px;
  }
  @media screen and (min-width: 1366px) {
    left: 60px;
  }
}
/* Стрелка вправо */
.reviews-cards-list .slick-arrow.slick-next {
  right: 60px;
  background-image: url('../images/icon-arrow-right.svg');
  @media screen and (max-width: 767px) {
    top: 94%;
    right: 0;
  }
  @media screen and (min-width: 768px) {
    right: -14px;
  }
  @media screen and (min-width: 1366px) {
    right: 60px;
  }
}

/* Точки (булиты) */
.reviews-cards-list .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 768px) {
    gap: 30px;
  }
}
.reviews-cards-list .slick-dots li {
  list-style: none;
  width: 54px;
  height: 54px;
  background-position: center;
  background-size: contain;

  @media screen and (max-width: 767px) {
    &:nth-child(-n + 4) {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }

  &:nth-child(1) {
    background-image: url(../images/feedback/avatar-01-min.png);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/feedback/avatar-01@2x-min.png);
    }
  }
  &:nth-child(2) {
    background-image: url(../images/feedback/avatar-02-min.png);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/feedback/avatar-02@2x-min.png);
    }
  }
  &:nth-child(3) {
    background-image: url(../images/feedback/avatar-03-min.png);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/feedback/avatar-03@2x-min.png);
    }
  }
  &:nth-child(4) {
    background-image: url(../images/feedback/avatar-04-min.png);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/feedback/avatar-04@2x-min.png);
    }
  }
  &:nth-child(5) {
    background-image: url(../images/feedback/avatar-05-min.png);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/feedback/avatar-05@2x-min.png);
    }
  }
  &:nth-child(6) {
    background-image: url(../images/feedback/avatar-06-min.png);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/feedback/avatar-06@2x-min.png);
    }
  }
  &:nth-child(7) {
    background-image: url(../images/feedback/avatar-07-min.png);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/feedback/avatar-07@2x-min.png);
    }
  }
}
/* Активная точка */
.reviews-cards-list .slick-dots li.slick-active {
  border-radius: 50%;
  border: 2px solid var(--accent);
}
/* Элемент точки */
.reviews-cards-list .slick-dots li button {
  font-size: 0;
}
